/GPATH
include
bin
pugixml-1.4
*moc*
/GUI/Makefile
/arduinosketch/SdFat
/ardionosketch/build-uno
/arduinosketch/Arduino-Makefile
*/build*/
*/output/*
*stepLog*
*~
*unitTest.cpp
*unitTest
*x.x
*.log
*.pol
*pro.user*
.deps
.idea
*debug*.cpp
*test.cpp
debug
*TAG*
ui_*
cxx*
